<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Add a Board</h1>

	<form method="POST" action="/paddleboards">
		Brand: <input type="input" name="brand"><br/>
		Type: <input type="input" name="type"><br/>
		Year Founded: <input type="input" name="year_founded"><br/>
		Location: <input type="input" name="location"><br/>
		<input type="submit">
	</form>

</body>
</html>